/* *****************general css********* */
body {
  color: #7a581f;
  background-image: url(image/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #03396a;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
}

a,
label,
p,
button,
input,
.ui.button,
input.ui,
div *(:not(i)) {
  font-family: "Noto Sans", sans-serif !important;
}
i.icon {
  font-family: Icons !important;
}

a {
  color: #8f6a25;
}
.page-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color:#06244c3d;
  /* overflow-x: hidden; */
  /* max-width:100vw; */
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex: 2;
  width: 50%;
  overflow-x: hidden;
}
.selectioncolumn2 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex: 1;
  width: 50%;
  background-image: url(image/brown-paper.png);
  background-color: transparent;

  background-size: 99% 100%;
  /* min-height:550px; */
  /* background-size:500px 700px; */
  /* background-size:99vw 100vh; */
  /* background-size:99vw 100vh;
  background-size: 99vw calc(100vh - 85px); */

  /* background-position: 10px 0px; */
  /* background-position: center 80px; */
  background-position: center center;
  background-repeat: no-repeat;
  /* margin:5px 0 0 0; */
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  /* overflow:hidden; */
}

.campaign-img-2{
  opacity:0.5;
  position:absolute;
  /* z-index:-1; */
}
@media (min-width: 768px) {
  .selectioncolumn2 {
    background-attachment: fixed;

    background-position: center right;
    background-size: 50% 95vh;
    padding: 150px 0;

    background-position: center right;
    background-size: 50% 95vh;
    padding: 120px 0 80px 0;
    max-width: 600px;
  }

  .bajaj-campaign-img-wrapper{
    position:relative;
  }

  .campaign-img-2{
    z-index:-1;
   top: -70%;
   left:-35%;
   width:55em!important;
  }
}
@media (min-width: 1200px) {
  .selectioncolumn2 {
    background-size: 600px 95vh;
  }
}

@media (min-width: 1500px) {
  .selectioncolumn2 {
  }
}

.selectioncolumn2 .inner-content {
  /* max-height: 65vh;
  */

  min-height: 56vh;
  overflow-x: hidden;

  margin: 0 auto;
  border: 1px solid rgb(220, 166, 41);
  max-width: 84%;
  padding: 18px 0;
  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .selectioncolumn2 .inner-content {
    max-width: 80%;
    max-height: 65vh;
    overflow-y: auto;
    padding:0 20px;

    /* max-height: calc(100vh - 325px); */
    /* overflow-y: scroll; */
  }
}
.second-selection-column {
  width: 100%;
  max-width: 768px;
  /* height: 100vh; */
  margin: 0 auto;
}

@media (min-width: 768px) {
  .second-selection-column {
    /* height: 90vh; */
  }
}

.first-column {
  height: 100vh;

  background-size: cover;
  background-position: center;
  overflow:hidden;
}
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .selectioncolumn2 {
    display: flex;
    flex-direction: column;

    flex-basis: 100%;

    width: 100%;
  }

  .first-column {
    /* display: none; */
    height: 15vh;
    height: 80px;
  }

  .ui.segment.section-customer--info {
    padding: 0;
  }
}
.main {
}
.brand-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-content: center;
}
.brand-logo .leadership-image {
  width: 200px;
  height: auto;
}
.brand-logo .logo {
  padding: 20px 0 0 20px;
}
/* .nav-header{
    display:flex;
    flex-direction: row;
    
  } */
.rotate {
  animation: rotation 100s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wrapper--container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper--content {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.wrapper--content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper--content-item img {
  width: 100%;
  max-width: 650px;
  height: auto;
}
.wrapper-item-1 img {
  width: 350px;
}
@media (max-width: 768px) {
  .wrapper--content-item img {
    min-width: 400px;
  }
  .leadership-image {
    display: none;
  }
  .brand-logo img {
    position: fixed;
    top: 15px;
    left: 25px;
    z-index: 1;
    width: 60px;
    /* display: none; */
  }
  .wrapper--content-item .bajaj-campaign-img {
    position: fixed;
    top: -20px;
    /* right:5px; */
    left: 55px;
    min-width: 100px;
    width: 200px;
    z-index: 1;
  }
  
  .wrapper-item-1 img {
    position: fixed;
    top: -180px;
    /* opacity:0.5; */
    /* left:5px;
    width: 85vw; */

    /* left:100px; */
    /* right:-150px; */
    /* top:-200px; */
    right: -145px;
    top: -15px;
    max-width: 100vw;

    /* margin-left: -76vw; */
  }

  .top-menu i.icon.bars {
    color: #fff !important;
    font-size: 1.25em;
    padding-right:30px;
  }
}
@media (min-width: 1400px) {
  .wrapper-item-2 img {
    min-width: 450px;
  }
  .wrapper-item-1 img {
    width: 400px;
  }

  .selectioncolumn2 .inner-content {
    max-width: 90%;
  }

}
@media (max-width: 1000px) {
  .wrapper-item-1 {
    /* display: none; */
    /* opacity: 0.3; */
  }
  .wrapper-item-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.ui.basic.primary.button,
.ui.basic.primary.buttons .button {
  box-shadow: 0 0 0 1px #715627 inset !important;
  color: #715627 !important;
}
.ui.basic.primary.button:hover,
.ui.basic.primary.buttons .button:hover {
  background: 0 0 !important;
  -webkit-box-shadow: 0 0 0 1px #5f3f11 inset !important;
  box-shadow: 0 0 0 1px #5f3f11 inset !important;
  color: #5f3f11 !important;
}

.segment .ui.action.input:not([class*="left action"]) > input:focus {
  border-left-color: #5f3f11 !important;
  border-top-color: #5f3f11 !important;
  border-bottom-color: #5f3f11 !important;
  border-right-width: 0;
}
.ui.divider {
  color: rgb(206, 158, 75);
}
.ui.attached.warning.message,
.ui.warning.message {
  -webkit-box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #715627 inset, 0 0 0 0 transparent;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ label:after {
  background-color: rgba(80, 48, 15, 0.81);
}

/* ******end of general css******** */
.ui.menu {
  background: none;
  max-width: 100%;
  border: none;
  box-shadow: none;
}
.ui.attached.segment {
  border: 0px solid #715627;
  padding: 0.25em;
}
.ui.basic.attached.segment {
  border-color: transparent !important;
}

.ui.segment.attached {
  border-color: rgb(220, 166, 41);
}
.ui.segment {
  background-color: #f1db9f;
  background-color: transparent;
  border-color: 1px;
}

.icon {
  color: #ce9e4b !important;
}

.ui.menu .ui.dropdown .menu > .item {
  color: brown;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="file"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="text"],
.ui.form input[type="time"],
.ui.form input[type="url"] {
  background: #f1db9f;
}
.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #987936;
  color: #f1db9f;
}

.ui.primary.button:focus,
.ui.primary.buttons .button:focus {
  background-color: #fff;
  color: #987936;
  color:#000;
  text-shadow: none;
}

.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="file"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="url"]:focus {
  color: #987936;
  border-color: #f1db9f;
  border-radius: 0.28571429rem;
  background: #f1db9f;
}
.ui.blue.label,
.ui.blue.labels .label {
  background-color: #987936 !important;
  border-color: #987936 !important;
  color: #fff !important;
}
.ui.tag.label:after,
.ui.tag.labels .label:after {
  background-color: #f1d894 !important;
}

.ui.blue.ribbon.label {
  border-color: #987936 !important;
}
.ui.ribbon.label {
  border-color: #987936;
}
.ui.inverted.label,
.ui.inverted.labels .label {
  color: black !important;
}
.ui.message {
  background: #f1db9f;
}
.ui.width {
  background: none;
  max-width: 100%;
  border: none;
  box-shadow: none;
}
.ui.form select {
  background: #f1db9f;
}
.ui.red.label,
.ui.red.labels .label {
  background-color: #987936 !important;
  border-color: #987936 !important;
  color: #efefef!important;
}
.ui.warning.message {
  background-color: #f1db9f;
  color: #573a08;
}

.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background-color: #bb934a;
  /* color: black; */
  opacity: 0, 7;
}
.ui.menu .dropdown.item .menu {
  background-color: #f1db9f;
}
#customer--registration p span {
  display: flex;
  align-items: center;
}
#customer--registration p span i {
  color: #987936;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}

.ui.form select {
  background: #f1db9f;
  color: #987936;
}
.ui.form ::placeholder {
  background: #f1db9f;
  color: #987936;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="file"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="text"],
.ui.form input[type="time"],
.ui.form input[type="url"] {
  background: #f1db9f;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: #987936;
}

.ui.raised.card,
.ui.raised.cards > .card {
  -webkit-box-shadow: 0 0 0 1px #e3be6a, 0 2px 4px 0 rgb(227, 189, 105), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 0 1px #e5c26f, 0 2px 4px 0 rgb(227, 188, 101), 0 2px 10px 0 rgb(231, 198, 123);
}

.ui.card,
.ui.cards > .card {
  background-color: #f1db9f66;
  box-shadow: 0 1px 3px 0 #a27a33, 0 0 0 1px #f5d991;
}

/*login*/
.login_wrapper {
  /* margin-top: 50px; */
}
@media (min-width: 768px) {
  .login_wrapper {
    /* margin-top: 10vh; */
  }
  .bajaj-campaign-img-wrapper {
    /* background-color: #06244c3d; */
    border: 2px solid #f4b72f;
    border: 0px solid #062753;
  }
}

.top-menu {
  height: 80px;
}
.icon {
  /* color: #ce9e4b !important; */
  color: #655731 !important;
}
.ui.menu .ui.dropdown .menu > .item {
  color: brown;
}


/*dealer*/
.dealer_index_link {
  width: 250px;
  height: 80px;
  /* background-color:red; */
}
.dealer_index_segment .segment.attached {
  background-color: none;
}
@media (min-width: 768px) {
  .top-menu {
    height: 80px;
    padding-right: 50px !important;
    padding-top: 40px;
    /* background-color: #ff000066!important; */
  }

  .dealer_index_link {
    width: 100px;
    height: 120px;
    /* background-color:red; */
  }
}

.bajaj-customer-card .inverted.primary.label {
  background-color: #9d7731;
  color: #fff !important;
}

.bajaj-customer-card {
  max-width: 385px !important;
}
.bajaj-customer-card .section-customer--info {
  padding: 0;
}
.section-customer--info .right.floated.content {
  max-width: 55%;
  overflow-wrap: break-word;
}

.bajaj-customer-card .inverted.secondary.label {
  background-color: #987936;
  color: #fff !important;
}

.main-dealer-index {
}
.main-dealer-index .horizontal.divider {
  margin: 25px 0 25px 0;
}

/*utilities*/
.mt-none {
  margin-top: 0 !important;
}
.mt-sm {
  margin-top: 15px!important;
}
.transparent-bg {
  background-color: transparent !important;
}
.no-border {
  border: 0 !important;
  box-shadow: none !important;
}
.text-center {
  text-align: center;
}

.ui.label {
  background-color: #e7ca85;
}

.animate-congrats {
  -webkit-animation: congratulations 1500ms ease;
}

.customer-search-options{
  margin-top:5px!important;
}

@keyframes congratulations {
  /*10%, 30%, 50%, 70%, 90% {
-webkit-transform: rotateY(0deg);
transform: rotateY(0deg);
}*/
  /*  0%{
  -webkit-transform: rotateY(0deg);
transform: rotateY(0deg);
}
10%{
  -webkit-transform: rotateY(50deg);
transform: rotateY(50deg);
}
20% {
-webkit-transform: rotateY(90deg);
transform: rotateY(90deg);
}
30%{
  -webkit-transform: rotateY(120deg);
transform: rotateY(120deg);
}
40%{
  -webkit-transform: rotateY(150deg);
transform: rotateY(150deg);
}
50%{
  -webkit-transform: rotateY(170deg);
transform: rotateY(170deg);
}
60% {
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
}
70% {
-webkit-transform: rotateY(270deg);
transform: rotateY(270deg);
}
80% {
-webkit-transform: rotateY(300deg);
transform: rotateY(300deg);
}
100% {
-webkit-transform: rotateY(360deg);
transform: rotateY(360deg);
}*/
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bajaj-offer-coupon-pick .coupon-card .label {
  color: #8f3d2c;
}
.bajaj-offer-coupon-pick .coupon-card > .content > .icon.header {
  margin-bottom: 0 !important;
}

.bajaj-offer-coupon-pick .coupon-card i {
  background-color: #e7e7e7;
  background-color: #eac878;
}
.bajaj-offer-coupon-pick .coupon-card i:before {
  color: #8295af;
  color: #a87726;
}

.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  box-shadow: 0 1px 3px 0 #50310f, 0 0 0 1px #dca629;
  background-color: transparent;
}

.ui.attached.error.message,
.ui.error.message,form .errorlist,
.ui.message {
  -webkit-box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #fccf34 inset, 0 0 0 0 #000000;
  border: 2px solid #ca9c01;
}
form .errorlist{
  list-style:none;
  padding:5px;
}
.ui.error.message,
.ui.message,form .errorlist {
  background-color: #ca9c01;
  /* color: #9d7731; */
  color: #fff;
  color: #fdda4c;
  color: #fff8dd;
}

.ui.success.message {
  background-color: #ca9c01;
  /* color: #9d7731; */
  color: #fff;
  color: #fdda4c;
  color: #4e6533;
}
.add-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  border-radius: 0;
  color: #655731;
  margin: 5px 10% !important;
  width: 80%;
}

.circle-container {
  background-image: url("/static/image/coupon-brand.png"), url("/static/image/coupon-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: 5.5em auto, contain;
}

.circle-container {
  position: relative;
  width: 16em;
  height: 16em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 5em auto 0;
  border: solid 5px #ca9c01;
  /* background:  url("/static/image/coupon-brand.png") center center no-repeat,url("/static/image/coupon-bg.png") center center no-repeat; */

  /* background-repeat: no-repeat; */
  /* background-position: center center; */
}
.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3em;
  width: 6em;
  height: 6em;
}
.circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(8em) rotate(0deg);
  transform: rotate(0deg) translate(8em) rotate(0deg);
}
.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(51.42857deg) translate(8em) rotate(-51.42857deg);
  transform: rotate(51.42857deg) translate(8em) rotate(-51.42857deg);
}
.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(102.85714deg) translate(8em) rotate(-102.85714deg);
  transform: rotate(102.85714deg) translate(8em) rotate(-102.85714deg);
}
.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(154.28571deg) translate(8em) rotate(-154.28571deg);
  transform: rotate(154.28571deg) translate(8em) rotate(-154.28571deg);
}
.circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(205.71429deg) translate(8em) rotate(-205.71429deg);
  transform: rotate(205.71429deg) translate(8em) rotate(-205.71429deg);
}
.circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(257.14286deg) translate(8em) rotate(-257.14286deg);
  transform: rotate(257.14286deg) translate(8em) rotate(-257.14286deg);
}
.circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(308.57143deg) translate(8em) rotate(-308.57143deg);
  transform: rotate(308.57143deg) translate(8em) rotate(-308.57143deg);
}
.circle-container img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  -webkit-filter: sepia(72%);
  filter: sepia(72%);
  border: solid 5px #ca9c01;
  transition: 0.15s;
}
.circle-container img:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}